.footer {
  margin-top: 0px;
  padding: 24px 32px;
  background-color: #0e1b2b;
  color: #ffffff;
  font-size: 13px;
}

.footer_top {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 16px;
  justify-content: space-between;
}
.footer_block:nth-child(2) {
  flex: 0.9 1 200px;
}
.footer_block h4 {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer_block p,
.footer_block li {
  margin: 4px 0;
}

.footer_block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_block a {
  color: #ffffff;
  text-decoration: none;
}

.footer_block a:hover {
  text-decoration: underline;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #1f3045;
  padding-top: 8px;
  font-size: 12px;
}

.footer_policy {
  color: #ffffff;
  text-decoration: none;
}

.footer_policy:hover {
  text-decoration: underline;
}